@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: white;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: "Mooli", Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
    }

body {
    font-family: var(--primary-font);
    background-color: #514a95;
    font-size: 1.2em;
    border: 0;
    margin: 0;
    padding: 0;
}

/* Header Content */
header {
    color: white;
    text-align: center;
    padding-bottom: 25px;
}

header h1 {
    margin: 20px 0 10px 0;
}

.menuButton {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
}

.hide {
	display: none;
}

a {
    display: block;
    color: var(--accent-color);
    margin: 5px 5px 5px;
}

/* Main Content */
main {
    background-color: white;
    padding: 5px;
    text-align: center;
}

main h2 {
    padding: 0;
}

img {
	max-width: 100%;
    object-fit: cover;
    border: 2px white solid;
    box-shadow: 3px 3px 10px rgb(31, 31, 31);
}

/* Footer Content */
footer {
    color: white;
    text-align: center;
}

/* Modal Content */

.viewer {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    /* grid-template-rows: 0.9fr 0.1fr 1fr 1fr; */
    max-height: 100%;
}

.viewer img {
    margin: 0 auto;
    grid-column: 2/3;
    max-height: 100%;
    max-width: 100%;
    /* grid-row: 3/4; */
}

.close-viewer {
    background-color: transparent;
    color: white;
    text-align: right;
    /* margin: 0 0 0 240px; */
    grid-column: 2/3;
    /* grid-row: 2/3; */
    border: none;
    cursor: pointer;
}

/* Media Query Content */

@media screen and (min-width: 700px) {
    .gallery {
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .viewer {
        margin: 25px;
    }
}

@media screen and (min-width: 1000px) {
    .menuButton {
        display: none;
    }

    a {
        display: inline;
    }

    .viewer img {
        max-width: 65%;
    }
}