/* ------------- */
/* UNIVERSAL CSS */
/* ------------- */

@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

#content {
   max-width: 1600px;
   margin: 0 auto;
}

body {
   background-color: #fcfbfb; 
   margin: 0;
}

.add-form, .remove-form {
   display: none;
}

/* Button Content */
      
.adjust-button {
   background-color: #392B58;
   color: white;
   text-decoration: none;
   font-size: 30px;
   padding: 5px 15px;
   margin-top: 0; /* Remove top margin */
   border-radius: 5px;
   opacity: 90%;
   margin-left: 10px;
}

.adjust-button:hover {
   color: #B6CACE;
   background-color: #645E9D;
   text-shadow: 1.5px 1.5px #000000;
}

.game-adjust-button {
   color: white;
   text-decoration: none;
   font-size: 30px;
   padding: 5px 15px;
   margin-top: 0; /* Remove top margin */
   border-radius: 5px;
   opacity: 90%;
   text-align: center;
   margin: 0 10px; /* Add horizontal margin for spacing */
}

.game-adjust-button:hover {
   color: #B6CACE;
   background-color: #645E9D;
   text-shadow: 1.5px 1.5px #000000;
}

#main-bottom-button {
   padding: 20px;
}

.dark-mode{
   background-color: #392B58;
   color: #776fbc;
   border: 2px solid #776fbc;
   text-decoration: none;
   font-size: 18px;
   padding: 15px 30px;
   margin-top: 50px;
   border-radius: 5px;
   opacity: 90%;
}
   .dark-mode:hover {
      color: #B6CACE;
      border: 2px solid #392B58;
      background-color: #645E9D;
      text-shadow: 1.5px 1.5px #000000;
   }

   
/* ---------- */
/* HEADER CSS */
/* ---------- */

header {
   background-color: #392B58;
}

nav {
   display: flex;
   justify-content: space-between; /* Space between elements */
   align-items: center;
   padding: 0 20px; /* Add some padding for spacing */
}

.nav-left {
   display: flex;
   align-items: center;
}

nav a {
   text-align: center;
   color: white;
   text-decoration: none;
   padding: 15px;
}

#nav1, #nav3 {
   text-align: center;
   text-decoration: none;
   padding: 34px 20px;
   font-size: 20px;
   font-family: "Dela Gothic One", "IM Fell French Canon SC";
}

nav a:hover {
   color: #B6CACE;
   background-color: #645E9D;
}

.button-box {
   margin-left: auto; /* Pushes the button box to the far right */
}

.logo {
   width: 80px; /* Set a reasonable width for the logo */
   height: auto; /* Maintain aspect ratio */
}


/* ---------- */
/* FOOTER CSS */
/* ---------- */

footer {
   display: grid;
   background-color: rgb(31, 31, 31);
}

.footer-main {
   padding-left: 25px;
   color: rgb(142, 142, 142);
   font-family: "Play", Lato, Helvetica, sans-serif;
}

footer a {
   color: rgb(222, 222, 222);
   font-family: "Play", Lato, Helvetica, sans-serif;
}

footer a:hover {
   color: #B6CACE;
}

footer p {
   font-size: 15px;
}

#logo-footer {
   grid-column: 2/3;
   padding: 15px;
   padding-right: 25px;
}

.social-footer {
   width: 3%;
   margin: 0 auto;
}

.gl-logo-footer {
   width: 175px;
   grid-column: 3 / 4;
   margin: 0 auto;
}

.end-socials {
   grid-column: 2 / 3;
   max-width: 100%;
   margin: 0 auto;
}

/* ------------- */
/* HOME PAGE CSS */
/* ------------- */

/* Button */

.button-box { 
   padding: 7.5px 0;
   font-family: "Play", Lato, Helvetica, sans-serif;
   text-align: center;
}

/* Main Content */

main {
   display: flex;
   flex-direction: column;
   padding-bottom: 25px;
   padding-top: 25px;
   margin: 0 auto;
}

p {
   font-family: "Play", Lato, Helvetica, sans-serif;
   font-size: 1.1em;
}

.game-link {
   font-family: "Play", Lato, Helvetica, sans-serif;
   font-size: 1.1em;
   color: #d781ff;
}

.top-interactables {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}

.search-form {
   display: flex;
   flex-direction: row;
   flex-grow: 1;
   margin: 0 15px;
   border: black 1px solid;
   border-radius: 5px;
}

.search-box {
   max-width: 100%;
   outline: none;
   flex-grow: 1;
   font-size: 1.1em;
   text-align: left;
   border: none;
   padding: 5px;
   height: 25px;
   background-color: #ffffff;
   color: #000000;
}

body.dark-mode .search-box {
   background-color: #333333;
   color: #ffffff;
}

.search-button {
   border-left: 1px black solid;
   max-height: 25px;
   padding: 5px;
   margin-left: auto;
}

.divider-line {
   height: 3px;
   background-color: black;
   opacity: 25%;
   margin-top: 10px;
   margin-bottom: 10px;
}

/* Game Array Content */

.game-display {
   justify-content: center;
}

.game {
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   max-width: 100%;
   border: 1px black solid;
   justify-content: center;
   padding: 10px;
   margin: 15px;
}

.game-img {
   max-width: 100%;
   object-fit: cover;
   max-height: 300px;
   border-radius: 10px;
}

.game-right {
   padding-top: 10px;
}

.tag-and-rating {
   padding-top: 15px;
}

.rating {
   padding-left: 5px;
}

.game-far-right {
   display: flex;
   flex-direction: row;
   padding-top: 10px;
}

.game-tag {
   display: inline;
   border-radius: 10px;
   border: 1px black solid;
   padding: 7px;
}

.icon-star {
   font-size: 20px;
}

.icon-star-empty {
   font-size: 20px;
}

.name-and-rating {
   padding-bottom: 15px;
}

.game-name {
   font-size: 2.2em;
   margin-bottom: 0;
   font-family: "Dela Gothic One", "IM Fell French Canon SC";
}

/* MEDIA QUERIES */

@media screen and (min-width: 640px) {
   .game-display {
      max-width: 100%;
   }
   
   .game {
       flex-direction: row;
       max-width: 67%;
       margin: 0 auto;
   }

   .game-right {
       padding-left: 15px;
       padding-right: 15px;
   }

   .game-description {
       display: flex;
   }

   .social {
       display: flex;
       justify-content: flex-end;
       gap: 10px;
       width: 100%;
       padding-right: 15px;
   }

   .bottom-page-item {
       max-width: 50px;
       width: 30px;
       height: auto;
       padding-bottom: 0;
       padding-left: 0px;
       padding-right: 0px;
   }

   .attribute {
       padding-top: 10px;
       font-size: 0.7em;
       width: 300px;
       align-items: center;
       justify-content: center;
       color: var(--primary-color);
       font-family: var(--primary-font);
       padding-bottom: 15px;
   }

   .game-far-right {
      flex-direction: column;
   }

/* ---------- */
/* END OF CSS */
/* ---------- */